body{
    box-sizing:border-box;
    font-size:62.5%;
    font-family: 'Montserrat', sans-serif;
}

form{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 3rem;
}

fieldset:first-of-type{
    grid-column: 1;
    grid-row:1;
}
fieldset:last-of-type{
    grid-column: 2;
    grid-row:1;
}

fieldset{
    width:30rem;
    display:flex;
    flex-direction: column;
    border:none;
}

button {
    width:5rem;
    height:2rem;
    align-self:center;
    justify-self:center;
}

h3, h2 {
    color: #24527C;
}